<style> @import "/styles/footer.css"; </style>

<footer>
   Contact us at:<br>
   <img src="/images/footer/office-address.svg"> No. 29 Area 1W, UDUS Sokoto.<br>
   <img src="/images/footer/email.svg"> hussainimagaji99@gmail.com<br>
   <img src="/images/footer/phone-call.svg"> 08168732723<br>
   <img src="/images/footer/whatsapp.svg">
   <img src="/images/footer/facebook-round.svg">
   <img src="/images/footer/twitter-round.svg">
   <img src="/images/footer/instagram-round.svg"><br>
   @importwithxaarah
</footer>
