<style> @import "/styles/navbar.css"; </style>
   
<!--Navigation-bar-->
<nav id="navbar">
   <img class="nav-item" id="menu" src="/images/navbar/menu.svg">
   <span id="logo" class="">iwx</span>
   <img class="nav-item" id="account" src="/images/navbar/account.svg">
</nav>

<!---dropdown--->
<div id="dropdown" hidden>
   <img id="home" src="/images/navbar/home.svg">
   <img id="cart" src="/images/navbar/cart.svg">
   <img id="search" src="/images/navbar/search.svg">
   <img id="about" src="/images/navbar/aboutUs.svg">
</div>

<!--search-form-->
<form id="search-form" hidden>
   <input id="search-bar" type="text">
   <button id="search-btn">
      <img src="/images/navbar/search.svg">
   </button>
</form>

<!--Navbar-bar-script-->
<script src="/scripts/navbar.js"></script>
