body {
    color: rgb(102, 124, 250);
    background-color: rgba(190, 230, 233, 0.349);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

form[id="orderForm"] {
    width: 100%;
    border: 1px solid green;
    margin-top: 150px;
    font-size: 40px;
}

#fee-details span {
    border: 1px solid blue;
    padding-left: 20px;
}

form img {
    width: 50%;
    height: 100px;
    margin-left: 25%;
}

input {
    width: 70%;
    height: 50px;
    color: purple;
    font-size: 35px;
    box-sizing: border-box;
    margin: 1px 3px 1px;
    border: 1px solid rgb(102, 124, 250);
    border-radius: 10px;
}

input[type="submit"] {
    width: 50%;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 25%;
    border: 1px solid purple;
    border-radius: 10px;
}

input[id="proceed"]:hover {
    background-color: white;
}

input[name="submit_btn"] {
    color: white;
    background-color: purple;
}

input[name="submit_btn"]:hover {
    color: purple;
    background-color: white;
}

select {
    width: 30%;
    height: 50px;
    font-size: 35px;
}

#details {
    padding: 5px;
}

#total {
    border: 1px solid green;
    padding-left: 20px;
}

label {
    float: left;
    padding-left: 20px;
}

span {
    display: block;
    border-top: 1px solid green;
}

#footer {
    position: absolute;
    width: 100%;
    height: 380px;
    border: 0;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
